@import "tailwindcss";

@font-face {
  font-family: 'PokemonGB';
  src: local('PokemonGB'), url(./fonts/PokemonGB.ttf) format('truetype');
}

:root {
  font-family: "PokemonGB", sans-serif;
  font-size: 10px;
}

@layer base {
  * {
    @apply text-gray-400;
  }

  h1 {
    @apply text-6xl font-bold;
  }

  h2 {
    @apply text-xl font-bold capitalize;
  }

  h3 {
    @apply text-5xl font-semibold;
  }
}

@theme {
    --spacing: 4px;

    --animate-marquee: marquee 20s linear infinite;

    @keyframes marquee {
        0% {
            transform: translateX(0%);
        }

        100% {
            transform: translateX(-50%);
        }
    }
}